

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.phone {
    width: 100%;
    max-width: 412px; 
    min-height: 100vh; 
    background-color: var(--background-white);
    position: relative;
    overflow-y: auto; 
    overflow-x: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.header {
    background: #4CAF50;
    color: white;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 16px;
    margin: 0;
}

.add-btn {
    width: 100%;
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin: 15px 0;
    font-weight: bold;
}
.image-box {
    width: 100%;
    height: 160px;
    background: #B8EEF0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: none;
}

.upload {
    font-size: 48px;
    color: #555;
    pointer-events: none; /* let parent handle click */
}


label {
    font-size: 13px;
    margin-top: 10px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-top: 5px;
}

textarea {
    height: 60px;
}

.stats {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.card {
    background: #ffffff;
    flex: 1;
    padding: 10px;
    border-radius: 10px;
}

.card h2 {
    color: #2e7d32;
    margin: 0;
}

.card span {
    color: #4CAF50;
    font-size: 12px;
}

.save-btn {
    width: 100%;
    background: #6bd600;
    border: none;
    padding: 12px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 15px;
}
