* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    background-color: #d4d6d4;
    display: flex;
    justify-content: center;
}

:root {
    --primary-green: #39e600; 
    --light-bg: #f8fff4;
    --text-main: #000000;
    --text-sub: #666666;
    --border-color: #eeeeee;
}
.app-interface {
     width: 100%;
    max-width: 400px;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
}

.green-nav {
    background-color: #2e7d32;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green-nav h1 { font-size: 1.2rem; font-weight: bold; }

.controls {
    display: flex;
    justify-content: space-around;
    padding: 25px 10px;
    font-weight: bold;
    font-size: 1.3rem;
}

.dropdown, .filter {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.content-scroll {
    flex: 1;
    padding: 0 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.action-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 18px;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.chart-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.chart-card h3 {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

canvas {
    width: 100% !important;
    height: auto !important;
}