* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #fff; 
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
     width: 100%;
      max-width: 414px; 
      min-height: 100vh; 
      position: relative; 
      padding-bottom: 90px; 
      overflow: hidden;
      display: flex;
      flex-direction: column;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    padding: 36px;
    border-bottom: 1px solid #eee;
}

.back-arrow {
    font-size: 22px;
    margin-right: 10px;
    cursor: pointer;
}

.header h2 {
    font-size: 18px;
    font-weight: 600;
}

/* PROFILE IMAGE */
.profile-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    align-items: center;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FORM */
.form {
    padding: 0 20px;
}

.form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
}

.form input,
.form select {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: #e0e0e0;
    font-size: 14px;
    outline: none;
}
.btn {
    width: 70%;
    background-color: #52f01a;
    color: white;
    border: none;
    padding: 16px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 16px;
    height: 45px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}